* {
    /* Xóa margin, padding và border mặc định */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  body{
    background-color: rgb(246, 96, 146);
  }
  .box1{
    padding:100px 400px ;
    margin:150px auto;
    background-color: rgb(244, 170, 183);

  }
  .box2{
    text-align: center;
    border-radius: 18px;
    background-color: pink;
    border: 1px solid rgb(172, 66, 84);
    padding: 32px 0px;

  }
  .google{
    font-size: 36px;
    font-weight: bold ;
    margin-bottom: 8px;
  }

  .text1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  .ml-8{
    margin-left: -8px;
  }
  .red{
    color: red;
  }
  .yellow{
    color: yellow;
  }
  .blue{
    color:blue;
  }
  .green{
    color:green;
  }
  .text2{
    margin-bottom: 12px;
  }
input{
    padding: 6px 12px;
    width: 450px;
    border-radius:18px;
    border: none;
    margin-bottom: 16px;
}
button{
    background-color: rgb(227, 91, 113);
    font-size: 16px ;
    border-radius: 22px;
    padding: 4px 16px;
    border: none;
}

  